<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card mt-3 mb-3">
                <div class="card-header">
                    Agregar tema
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-bookmark-check-fill"></i>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="card-footer text-center">
                    <input type="button" value="Guardar" class="btn btn-success">
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tema</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>Programación</th>
                    <th><button class="btn btn-danger float-end"><i class="bi bi-trash-fill"></i></button></th>
                </tr>
                
                <tr>
                    <th>2</th>
                    <th>Calculo</th>
                    <th><button class="btn btn-danger float-end"><i class="bi bi-trash-fill"></i></button></th>
                </tr>

                <tr>
                    <th>3</th>
                    <th>Redes</th>
                    <th><button class="btn btn-danger float-end"><i class="bi bi-trash-fill"></i></button></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>